@model Strawberry.Models.Domain.Streaming;
@{
}
<form class="w-40" asp-action="Update" method="post">
    <h2 class="pb-10">Atualizar streaming</h2>
    <input type="hidden" class="input" asp-for="Id" />
    <div class="input-container">
        <label asp-for="StreamingName" class="w-40">Nome do streaming</label>
        <input type="text" class="input" asp-for="StreamingName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="StreamingName"></span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Salvar</button>
        <a class="btn btn-sec" href="/Streaming/List">Ir para lista</a>
    </div>
</form>