@{
}

<h2> Sobre este projeto</h2>
<p>
    Para a implementação deste projeto teste, foram estudados alguns conteudos sobre .Net e MVC.
</p>
<p>
    O template HTML e CSS utilizado já estava estruturado e foi apenas adaptado para o contexto proposto.
</p>
